@page
@model PizzaShop.Pages.Order.OrderConfirmationModel
@{
    ViewData["Title"] = "OrderConfirmation";
}

<h1>Pizza Order Confirmation</h1>

<h3>Size: @Model.OrderSize</h3>
<h3>Quantity: @Model.OrderQuantity</h3>
<h3>Toppings: @Model.OrderToppings</h3>
<h3>@Model.OrderRetrieval</h3>